{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Report</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>
    <div>
     <a href="/" class="button">Home</a>
    </div>

    <body class="formbody">
        <h1>Add Detainee</h1>

        <form id="detainee_form" method="POST" action="{% url 'website:detainee' %}" enctype="multipart/form-data">
               
            {% csrf_token %} 
            
            {{ detainee_form.as_p }}

            <input type="submit" class="submitbutton" value="submit" />
        </form>

    </body>
</html>