{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Reports</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'main.css' %}">
    </head>
        <div>
            <a href="/" class="button">Home</a>
        </div>
    <body class="formbody">
            <div>
                    <img src="{{ MEDIA_URL}} {{detainee.image.url}}" alt=""/>
                    <h1>{{ detainee.name }}</h1>
                    <h3>{{ detainee.alias }}</h3>
                    <p>{{ detainee.date_captured }}</p>
                    <p>{{ detainee.capture_location }}</p>
                    <p>{{ detainee.team }}</p>
                    <a href="{% url 'website:report' %}">Add Report</a>
                </div>    
                
                <div>
                        <h2>Report History</h2>
                        {% for r in reports_list %} {% if r.detainee_id == detainee.id %}
                        <h3>{{ r.session.name }}: <a href="{% url 'website:singlereport' r.id %}">{{ r.name }} </a></h3>
                        {% endif %} {% endfor %}
                    </div>   
    </body>
</html>