{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Reports</title>
  </head>
  <body>
    {% if user.is_authenticated %}
    <div class="header">
      <h1>Team Name</h1>
      <h1>Welcome {{ user.username }}!</h1>
      <button class="addmemberbtn">Add Member</button>
      <button class="editprofilebtn">Edit Profile</button>
    </div>

    <div class="inter">
      <h3>Interrogator</h3> <button class="createsessionbtn">Create</button>
    </div>

    <div>
      <h3>Analyst</h3>
    </div>

    <div>
      <h3>To Review</h3>
    </div>

    <div>
      <h3>Completed</h3>
    </div>
    <a href="{% url 'website:logout' %}">Logout</a>
    {% else %}
    <h1>test...</h1>
    <div><a href="{% url 'website:register' %}">Register</a></div>
    <div><a href="{% url 'website:login' %}">Login</a></div>
    {% endif %}
  </body>
</html>