.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: .75rem 0;
    margin: .25rem 0;
    justify-content: space-around;
}

div{
    position: relative;
    flex-basis: 50%;
    margin: 1rem auto;
    padding-left: 15px;
}

.header{
    text-align: center
}

.header h1{
    margin:25px;
}

.header a{
    color: darkblue
}

.card{
    border-style: solid;
    border-width: 2px 0 2px 2px;
    min-height: 200px;
}

.logout{
    padding-left: 10px;
}

.session_list { 
    display: flex; 
    flex-direction: row; 
    flex-wrap: nowrap; 
    justify-content: space-between; 
    align-items: center; 
}

ul li{
    display: inline;
}

#create_btn{
    float: right;
}

.formbody{
    text-align: center;
}


.durationlist{
    margin: 65px;
}

.sessionnamelist{
    margin: 25px;
}

a.button{
    text-decoration:none;
    border:1px solid black;
    color:black;
    margin-right:10px;
    padding:10px 10px 10px 10px;
   }

a.button:hover{
    background-color: black;
    color: white;
   }

img{
    height: 250px;
    width: 250px;
}

.login_page{
    margin:25px;
}

.img{
    margin-top:25px;
}

.detainee_home_btn{
    text-align: center;
}

.detainee{
    display: flex; 
    flex-direction: row; 
    flex-wrap: nowrap; 
    justify-content: space-between; 
    align-items: center; 

}

.button{
    text-decoration:none;
    border:1px solid black;
    color:black;
    margin-right:10px;
    padding:10px 10px 10px 10px;
   }

.button:hover{
    background-color: black;
    color: white;
   }

#id_image{
    display: inline;
}

.teamcard{
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    min-height: 200px;
    text-align: center;
    width: 250px;

}

.teamcardwrapper{
    display: flex; 
    flex-direction: row; 
    flex-wrap: nowrap; 
    justify-content: space-between; 
    align-items: center; 
}

.submitbutton{
    text-decoration:none;
    border:1px solid black;
    color:black;
    margin-right:10px;
    padding:10px 10px 10px 10px;
   }

.submitbutton:hover{
    background-color: green;
    color: white;
   }

a.detaineebutton{
    text-decoration:none;
    border:1px solid black;
    color:black;
    margin-right:10px;
    padding:10px 10px 10px 10px;
   }

a.detaineebutton:hover{
    background-color: red;
    color: white;
   }